.portfolio__topics {
    width: 100%;
    text-align: left;
}

.topic {
    border-radius: 8px;
    padding: 0;
    margin-bottom: 0.5rem;
    border: solid 2px var(--container-color);
}

.topic * {
    padding: 5px;
}

.topic__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    color: var(--container-color);

}

.topic__header:hover {
    cursor: pointer;
    color: white;
}

.topic__content {
    border-top: solid black 1px;
}

.ac{
    margin-top: 15px;
    background-color: #333333;
    border-radius: 8px;
}

.ac__header{
    font-weight: bold;
}


/*
    Green Fonce 08A045
    Green 339989
    Sweet green 8CC084
    emerald green 00A878
    Violet clair 647AA3 
    Violet foncé 2176ff
    Another Violet 5C80BC
    Red Rose EE4266
    Rose FFCBDD
    */
.but:nth-child(1) {
    background-color: #647AA3;
}

.but:nth-child(2) {
    background-color: #6499a3;
}

.but:nth-child(3) {
    background-color: #64a37a;
}

.ac__header:hover {
    background-color: #7a3e00;
    cursor: pointer;
}

.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}

.tftable th {
    font-size: 12px;
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: left;
}

.tftable tr {
    background-color: #ffffff;
}

.tftable td:nth-child(1){
    font-weight: bold;
}

.tftable td:nth-child(2){
    background-color: #f6fabf;
}

.tftable td:nth-child(3){
    background-color: #d5fcc1;
}

.tftable td:nth-child(4){
    font-style: italic;
}

.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}

.tftable tr:hover {
    background-color: #b9f0ff;
}