
.skills{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-bottom: 20px;
}

.language{
    text-align: left;
    width: 90%;
    padding-bottom: 5px;
}

.language__label{
    display: flex;
    justify-content: space-between;
}

.bar-container{
    background-color: rgb(77, 77, 77);
    border-radius: 4px;
    height: 5px;
    display: flex;
    flex-direction: row;
}
.bar{
    height: 5px;
    border-radius: 4px;
}

.red{
    background-color: #ff595e;
}

.yellow{
    background-color: #ffca3a;
}

.green{
    background-color: #8ac926;
}

.blue{
    background-color: #1982c4;
 }

 .violet{
    background-color: #6a4c93;
 }

 .gradient__red_to_blue {
    background: rgb(254,92,0);
background: linear-gradient(90deg, rgba(254,92,0,1) 20%, rgba(0,61,255,1) 80%);
 }
.frameworks{
    display: block;

}

.frameworks *{
    margin: 8px 20px;
}


@media screen and (max-width: 1024px){
    .skills{
        flex-direction: column;
    }
}