.about__main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    width: 100%;
}

.about__intro{
    font-family: 'Rubik';
    padding: 15px;
    /*background: rgb(49,48,48);
    background: linear-gradient(133deg, rgba(49,48,48,1) 26%, rgba(33,33,33,1) 100%);*/
    border-radius: 0 8px 8px 8px;
}

.sub-text{
    color: #c8c8c8;
    font-size: small;
    font-weight: 300;
}

.about__main img{
    min-height: 120px;
    min-width: 120px;
    max-width: 200px;
    max-height: 200px;
    background-color: var(--first-color);
    border-radius: 100%;
}


@media screen and (max-width: 1024px){
    .about__main{
        flex-direction: column;
        align-items: center;
    }
}